{% extends "base.html" %}
{%load static%}
{% block title %}
    Business Support Recommendations - AI DRIVEN ENTREPRENEUR SUPPORT SYSTEM
{% endblock %}

{% block content %}
    <!-- Main content container -->
    <div class="container">
        <h2>Business Support Recommendations</h2>
        <form id="recommendation-form">
            <label for="business_type">Select Business Type:</label>
            <select id="business_type" name="business_type">
                {% for type in business_types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            <button type="submit">Get Recommendations</button>
        </form>

        <div id="recommendations"></div>
    </div>

    <script>
        document.getElementById('recommendation-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const businessType = document.getElementById('business_type').value;
            fetch(`/recommend?business_type=${businessType}`)
                .then(response => response.json())
                .then(data => {
                    const recommendationsDiv = document.getElementById('recommendations');
                    recommendationsDiv.innerHTML = '';
                    data.forEach(item => {
                        const div = document.createElement('div');
                        div.className = 'recommendation';
                        div.innerHTML = `
                                <img src="${item.logo}" alt="${item.agency} Logo" style="width: 200px; height: auto; border-radius: 8px;">
                                <div class="recommendation-details">
                                <h3><a href="${item.portal_link}" target="_blank">${item.agency}</a></h3>
                                <p>${item.supports}</p>
                                <p class="domain">Business Type: ${item.business_type}</p>
                            </div>
                        `;
                        recommendationsDiv.appendChild(div);
                    });
                });
        });
    </script>
    <script>
        window.embeddedChatbotConfig = {
        chatbotId: "7kLdH5kTT6mMNBmD0w3FL",
        domain: "www.chatbase.co"
        }
    </script>
    <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="7kLdH5kTT6mMNBmD0w3FL"
        domain="www.chatbase.co"
        defer>
    </script> 
{% endblock %}
